.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/*Esercizio*/
@media screen and (max-width: 419px) {
  body {
    background-color: lightblue;
    font-family: arial;
  }
}
@media screen and (max-width: 419px) {
  .row {
    width: 100%;
    background.color: lightblue;
  }
  .row h1 {
    color: black;
    text-align: center;
    background: lightblue;
  }
  #lezioni .row>.left, #lezioni .row>.right {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 3px;
    border-radius: 5px;
  }
  .left h3, .central h3, .right h3, .first h3, .second h3, .third h3 {
    color: black;
  }
  /*prima parte*/
  #steps .row {
    background-color: lightblue;
  }
  #steps .row>.left, #steps .row>.central, #steps .row>.right {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 25px;
    padding: 10px;
    background-color: lightblue;
    margin-bottom: 3px;
    border-radius: 5px;
  }
  #why .row {
    background-color: lightgreen;
    width: 100%;
  }
  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    width: 100%;
    text-align: center;
    color: balck;
    font-size: 25px;
    padding: 10px;
    background-color: lightgreen;
    border-radius: 5px
  }
  #why .row>.first img,
  #why .row>.second img,
  #why .row>.third img {
    width: 20%;
    height: 20%;
  }
  #why .row img {
    background-color: green;
    border-radius: 50%;
    padding: 0;
  }
}
